<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sucess</title>
    <style>

.divHeading{
        color:white;
        font-size:16px;
        font-weight:550;
        letter-spacing:0.5;
        margin-right:95px;
        font-family:'Open Sans', sans-serif;
}


.container {
    border-radius: 5px;
    margin: 35px 350px;
    padding:25px;
    margin: 35px 350px;
    padding: 25px;
    border: solid 1px #0094f2;
    border-radius: 25px;
    height:135px;
}

    </style>

</head>
<body>

<table align="center" width="100%" height="55px">
<tbody>
<tr >
<td align="center" style="position:fixed" width="20%" bgcolor="#fff" > <img src=https://th.bing.com/th/id/R.fe525a9d42012e27ec83c2462180fb27?rik=Y6wbdM7TIsVsJg&riu=http%3a%2f%2fwww.worldofchemicals.com%2fNews%2f11909%2f75x75%2fThyssenkrupp+logo.jpg&ehk=eJIjTWg%2baIYnUDVV5lgqYdl6BVfyb7I3h26EUt4Alnc%3d&risl=&pid=ImgRaw&r=0 width="85" height="65 !important" align="justify">
</td>
<td align="right" width="80%" style="background-image: url(https://i.postimg.cc/sxzTdKrs/Polygon-1.png); background-repeat: no-repeat; background-position:left; background-size: cover;">
    <span class="divHeading" > System Readiness Check</span>
    </td>
</tr>
</tbody>
</table>

<div class="container">
<h1 align="center" margin-top="20px">This Machine name is sent to Bot</h1>
    <h3  align="center" >Sucess: {{show}}</h3>
    {% if errorLi|length > 0 %}
    <h3  align="center" >Error: {{err}}</h3>
    {% endif %}
</div>
</body>
</html>